Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

isort:
  name: isort
  description: run isort to sort imports
  entry: poetry run isort
  args:
  - --filter-files
  require_serial: true
  language: system

black:
  name: black
  description: run black to format code
  entry: poetry run black
  args:
  - .
  language: system

Making linter happy
  the_last_of_us_part_i/the_last_of_us_part_i.py
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
Due: isort, black

renames and import fixes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/issue_template.yaml
  .github/workflows/linting.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  atomic_heart/atomic_heart.py
  blender_render/blender_render.py
  cinebench_2024/cinebench_2024.py
  cities_skylines_2/cities_skylines_2.py
  counterstrike2/counterstrike2.py
  cspell.json
  forzamotorsport/forzamotorsport.py
  horizonzdr/horizonzdr.py
  poetry.lock
  procyon_ai/procyon_ai.py
  procyon_ai_img_gen/procyon_ai_img_gen.py
  procyon_ai_text_generation/procyon_ai_text_generation.py
  pylintrc
  pyproject.toml
  reddeadredemption2/reddeadredemption2.py
  tinytinaswonderland/tinytinaswonderland.py
  total_war_warhammer_iii/total_war_warhammer_iii.py
  ul3dmark/ul3dmark.py
  zdeprecated/F1_22/README.md
  zdeprecated/F1_22/f1.py
  zdeprecated/F1_22/f1_22_utils.py
  zdeprecated/F1_22/manifest.yaml
  zdeprecated/F1_23/README.md
  zdeprecated/F1_23/f1_23.py
  zdeprecated/F1_23/f1_23_utils.py
  zdeprecated/F1_23/manifest.yaml
  zdeprecated/README.md
  zdeprecated/aida64gpgpu/README.md
  zdeprecated/aida64gpgpu/aida64_gpgpu_benchmark.png
  zdeprecated/aida64gpgpu/aida64gpgpu.py
  zdeprecated/aida64gpgpu/manifest.yaml
  zdeprecated/aida64gpgpu/sample_gpgpu.xml
Due: poetry-check, isort, black

Delete msikombustor.toml
  games/msikombustor/msikombustor.toml
Due: none

f1 and ac shadows
  acshadows/acshadows.py
  acshadows/acshadows.toml
  acshadows/manifest.yaml
Due: isort, black

f1
  F1_24/F1_24.toml
Due: none

Update F1_24.toml
  F1_24/F1_24.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: poetry-check

new uv deps
  poetry.lock
  pyproject.toml
Due: poetry-check

Update acshadows.py
  acshadows/acshadows.py
Due: isort, black

Delete recording_session.toml
  recording_session/recording_session.toml
Due: none

delete files
  zdeprecated/aida64gpgpu/README.md
  zdeprecated/aida64gpgpu/aida64_gpgpu_benchmark.png
  zdeprecated/aida64gpgpu/aida64gpgpu.py
  zdeprecated/aida64gpgpu/aida64gpgpu.toml
  zdeprecated/aida64gpgpu/manifest.yaml
  zdeprecated/aida64gpgpu/sample_gpgpu.xml
  zz_non_game_harness_template/harness.py
Due: isort, black

Trying Building a PCMark 10 Storage harness
  pcmark10_storage/README.md
  pcmark10_storage/config/pcm10_storage_full_default.pcmdef
  pcmark10_storage/config/pcm10_storage_quick_default.pcmdef
  pcmark10_storage/manifest.yaml
  pcmark10_storage/pcmark10_storage.py
  pcmark10_storage/utils.py
Due: isort, black

Some minor tweaks to start.
  pcmark10_storage/pcmark10_storage.py
Due: isort, black

Trying setting the default drive letter to C in the event that nobody fills it in
  pcmark10_storage/pcmark10_storage.py
Due: isort, black

Updating some 2024 functionality for logging and setting CWD to try helping render
  cinebench_2024/cinebench.py
Due: isort, black

Trying adding a check to see if the CPU supports hyperthreading prior to running the SMT test
  cinebench_2026/cinebench.py
Due: isort, black

Initial build for browser benchmarks
  browserbench/README.md
  browserbench/browserbench.py
  browserbench/cdp_client.py
  browserbench/chrome_utils.py
  browserbench/manifest.yaml
Due: isort, black

Changing the chrome launch to start maximized (not kiosk)
  browserbench/chrome_utils.py
Due: isort, black

Want it to start maximized, not full screen
  browserbench/chrome_utils.py
Due: isort, black

superposition -> nongame
  superposition/superposition.toml
Due: none

evolve fix for rustbench
  evolve/evolve.py
  evolve/evolve.toml
Due: isort, black

stellaris is game
  stellaris/stellaris.toml
Due: none

add win32api for harnesses that need
  pyproject.toml
Due: poetry-check

back to strings
  evolve/evolve.toml
Due: none

evolve args just strings
  evolve/evolve.py
Due: isort, black

Update evolve.py
  evolve/evolve.py
Due: isort, black

Quick fix (#191)
  evolve/evolve.py
  pyproject.toml
  stellaris/stellaris.toml
  superposition/superposition.toml
Due: poetry-check, isort, black

Update pugetbench.py
  pugetbench/pugetbench.py
Due: isort, black

Trying to fix the safe termination to include the actual application as it's not currently closing on error out.
  pugetbench/pugetbench.py
Due: isort, black

Trying copying the CSV directly to the run folder so it's never accidentally grabbing a wrong one.
  pugetbench/pugetbench.py
  pugetbench/pugetbench_utils.py
Due: isort, black

Fixing some oopsies for the output of the file
  pugetbench/pugetbench.py
Due: isort, black

Missed a log_file to log_file_path change
  pugetbench/pugetbench.py
Due: isort, black

Changing the time to datetime instead of time.time.
  pugetbench/pugetbench.py
Due: isort, black

Update README.md
  browserbench/README.md
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject.toml$
  isort: any of: \.py$
  black: any of: \.py$
