Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: run isort to sort imports
        entry: poetry run isort
        args:
            - --profile=black
            - --line-length=88
        require_serial: true
        language: python
        types: [python]
        args: ["--filter-files"]
        language: system
-   repo: local
    hooks:
    -   id: black
        name: black
        description: run black to format code
        entry: poetry run black
        args: ["."]
        language: system
        types: [python]

Had wrong path for version tracking
  non_games/procyon/procyon_office/procyon_office_utils.py
Due: isort, black

bring process front final
  games/counter_strike_2/counter_strike_2.py
  games/counter_strike_2/counter_strike_2_utils.py
  harness_utils/process.py
Due: isort, black

Removing procyon termination, finding more versioning
  non_games/procyon/procyon_office/procyon_office.py
  non_games/procyon/procyon_office/procyon_office_utils.py
Due: isort, black

Outputting the log with a flag and processing versioning there.
  non_games/procyon/procyon_office/procyon_office.py
  non_games/procyon/procyon_office/procyon_office_utils.py
Due: isort, black

Update counter_strike_2_utils.py
  games/counter_strike_2/counter_strike_2_utils.py
Due: isort, black

Adding check for if the scores are listed as 0 for a canceled run
  non_games/procyon/procyon_office/procyon_office.py
Due: isort, black

Updating all procyon harnesses to pull versioning the same
  non_games/procyon/procyon_ai/procyon_ai_utils.py
  non_games/procyon/procyon_ai/ulprocai.py
  non_games/procyon/procyon_ai_img_gen/procyon_ai_img_gen_utils.py
  non_games/procyon/procyon_ai_img_gen/ulprocai_img_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen_utils.py
  non_games/procyon/procyon_office/procyon_office.py
Due: isort, black

Trying alternative way of grabbing the procyoncmd log
  non_games/procyon/procyon_office/procyon_office.py
Due: isort, black

Changing log to a flush output instead
  non_games/procyon/procyon_ai/ulprocai.py
  non_games/procyon/procyon_ai_img_gen/ulprocai_img_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen.py
Due: isort, black

Pugetbench Updates for Unreal and Selecting Preset
  non_games/pugetbench/README.md
  non_games/pugetbench/pugetbench.py
  non_games/pugetbench/pugetbench.toml
  non_games/pugetbench/pugetbench_utils.py
Due: isort, black

Add native Windows input backend
  harness_utils/windows_input.py
Due: isort, black

Update Dota 2 harness without PyAutoGUI
  games/dota_2/dota_2.py
  games/dota_2/screenshots/settings_1080.png
  games/dota_2/screenshots/settings_1440.png
  games/dota_2/screenshots/settings_2160.png
  games/dota_2/screenshots/settings_720.png
Due: isort, black

Update HITMAN 3 harness without PyAutoGUI
  games/hitman_3/hitman_3.py
  harness_utils/README.md
  harness_utils/steam.py
Due: isort, black

Update Marvel Rivals harness without PyAutoGUI
  games/marvel_rivals/marvel_rivals.py
  games/marvel_rivals/screenshots/launch_button.png
Due: isort, black

Update CS2 harness without PyAutoGUI
  games/counter_strike_2/counter_strike_2.py
  games/counter_strike_2/screenshots/settings_1080.png
  games/counter_strike_2/screenshots/settings_1440.png
  games/counter_strike_2/screenshots/settings_2160.png
  harness_utils/process.py
Due: isort, black

Replace PyAutoGUI and PyDirectInput with PyGetWindow
  licenses.md
  pyproject.toml
Due: poetry-check

Route Windows input through native backend
  CHANGELOG.md
  harness_utils/input.py
Due: isort, black

Explain CS2 foreground click
  games/counter_strike_2/counter_strike_2.py
Due: isort, black

Add native Windows input backend (#251)
  harness_utils/windows_input.py
Due: isort, black

Remove PyAutoGUI from game harnesses (#252)
  games/counter_strike_2/counter_strike_2.py
  games/counter_strike_2/screenshots/settings_1080.png
  games/counter_strike_2/screenshots/settings_1440.png
  games/counter_strike_2/screenshots/settings_2160.png
  games/dota_2/dota_2.py
  games/dota_2/screenshots/settings_1080.png
  games/dota_2/screenshots/settings_1440.png
  games/dota_2/screenshots/settings_2160.png
  games/dota_2/screenshots/settings_720.png
  games/hitman_3/hitman_3.py
  games/marvel_rivals/marvel_rivals.py
  games/marvel_rivals/screenshots/launch_button.png
  harness_utils/README.md
  harness_utils/process.py
  harness_utils/steam.py
Due: isort, black

Route Windows input through native backend (#253)
  CHANGELOG.md
  harness_utils/input.py
  licenses.md
  pyproject.toml
Due: poetry-check, isort, black

Use opencv-python-headless and clean up licenses and gitignore
  .gitignore
  licenses.md
  pyproject.toml
Due: poetry-check

Update cspell.json
  cspell.json
Due: none

Restore cspell.json indentation
  cspell.json
Due: none

Update .gitignore
  .gitignore
Due: none

Changing error handling.
  non_games/pugetbench/pugetbench.py
  non_games/pugetbench/pugetbench_utils.py
Due: isort, black

Update pugetbench.py
  non_games/pugetbench/pugetbench.py
Due: isort, black

Syncing changes from main for DOTA 2
  games/dota_2/dota_2.py
Due: isort, black

Removing ability to specify app version manually.
  non_games/pugetbench/README.md
  non_games/pugetbench/pugetbench.py
  non_games/pugetbench/pugetbench.toml
Due: isort, black

License and Dependency Cleanup (#254)
  .gitignore
  cspell.json
  licenses.md
  pyproject.toml
Due: poetry-check

switch to LLVM-MINGW and force it
  .gitignore
  non_games/godot_compile/README.md
  non_games/godot_compile/godot_compile.py
  non_games/godot_compile/godot_compile.toml
  non_games/godot_compile/godot_compile_utils.py
Due: isort, black

add long lines to find halt
  non_games/godot_compile/godot_compile_utils.py
Due: isort, black

Pin Godot 4.7.2 + llvm-mingw 20261006 and guard compiler selection
  .gitignore
  non_games/godot_compile/README.md
  non_games/godot_compile/godot_compile.py
  non_games/godot_compile/godot_compile_utils.py
Due: isort, black

Support cross-compiling Godot for x86_64 and arm64 on either host
  non_games/godot_compile/README.md
  non_games/godot_compile/godot_compile.py
  non_games/godot_compile/godot_compile.toml
  non_games/godot_compile/godot_compile_utils.py
Due: isort, black

Adjusting lightroom reported version in report.json
  non_games/pugetbench/pugetbench_utils.py
Due: isort, black
