Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

isort:
  name: isort
  description: run isort to sort imports
  entry: poetry run isort
  args:
  - --filter-files
  require_serial: true
  language: system

black:
  name: black
  description: run black to format code
  entry: poetry run black
  args:
  - .
  language: system

fix utils
  cyberpunk2077/cyberpunk_utils.py
Due: isort, black

add resolution evolve
  evolve/evolve.py
  evolve/manifest.yaml
Due: isort, black

lint
  pugetbench/pugetbench.py
  pugetbench/pugetbench_utils.py
Due: isort, black

lint
  evolve/evolve.py
Due: isort, black

Update evolve.py
  evolve/evolve.py
Due: isort, black

lint
  F1_24/README.md
  F1_24/f1_24.py
  F1_24/f1_24_utils.py
  F1_24/manifest.yaml
  harness_utils/helper.py
Due: isort, black

f1 unrolled
  F1_24/f1_24.py
  games/F1_24/README.md
  games/F1_24/f1_24.py
  games/F1_24/f1_24_utils.py
  games/F1_24/manifest.yaml
  games/cyberpunk2077/cyberpunk2077.py
Due: isort, black

f1 rerolled, consolidate process
  games/F1_24/f1_24.py
  games/F1_24/f1_24_utils.py
  games/cyberpunk2077/cyberpunk2077.py
  harness_utils/helper.py
  harness_utils/process.py
Due: isort, black

parents and f1 toml
  games/F1_24/f1_24.py
  games/F1_24/f1_24.toml
  games/F1_24/f1_24_utils.py
  games/cyberpunk2077/cyberpunk2077.py
  games/cyberpunk2077/cyberpunk_utils.py
Due: isort, black

Update .gitignore
  .gitignore
Due: none

Update f1_24.py
  games/F1_24/f1_24.py
Due: isort, black

new folder
  games/f1_24/README.md
  games/f1_24/f1_24.py
  games/f1_24/f1_24.toml
  games/f1_24/f1_24_utils.py
  games/f1_24/manifest.yaml
Due: isort, black

Update f1_24.toml
  games/f1_24/f1_24.toml
Due: none

Updating the CS2 benchmark for the workshop
  counterstrike2/benchmark.cfg
  counterstrike2/cs2.py
  counterstrike2/cs2_utils.py
  counterstrike2/csgo/cfg/banner.cfg
  counterstrike2/csgo/cfg/fpsheavenbenchmark.cfg
  counterstrike2/csgo/cfg/maps/de_dust2_benchmark.cfg
  counterstrike2/csgo/scripts/ai/fpsheavenbenchmark/bt_config.kv3
  counterstrike2/csgo/scripts/ai/fpsheavenbenchmark/dust2.kv3
  counterstrike2/csgo/scripts/ai/fpsheavenbenchmark/dust2_init.kv3
Due: isort, black

Forgot to remove copy_config
  counterstrike2/cs2.py
Due: isort, black

change logging level of library
  harness_utils/output.py
Due: isort, black

Evolve Benchmark (#171)
  3dmark/ul3dmark.py
  3dmark/utils.py
  CHANGELOG.md
  evolve/README.md
  evolve/evolve.py
  evolve/manifest.yaml
  harness_utils/process.py
  pugetbench/pugetbench.py
  pugetbench/pugetbench_utils.py
Due: isort, black

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Create sync.yml
  .github/workflows/sync.yml
Due: none

Update sync.yml
  .github/workflows/sync.yml
Due: none

Trying a diff way to get to the workshop by disabling DPI scaling, hopefully this works.
  counterstrike2/cs2.py
  counterstrike2/cs2_utils.py
Due: isort, black

Trying checkpointing in TLOU
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

Need a sleep before starting as the initial bit doesn't allow interaction with the game.
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

Found a keydown where it should be a press
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

new reqs file
  .gitignore
  pyproject.toml
Due: poetry-check

Update f1_24.py
  games/f1_24/f1_24.py
Due: isort, black

Trying copying over an autosave and loading that and seeing if that works.
  the_last_of_us_part_i/the_last_of_us_part_i.py
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
Due: isort, black

Oops was copying the files into the savedata folder rather than the folder we need.
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
Due: isort, black

Trying an alt way for the files to see if we can trick steam cloud
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
Due: isort, black

Having copying of the autosave occur after the game has launched.
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

Trying this now instead.
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
Due: isort, black

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject.toml$
  isort: any of: \.py$
  black: any of: \.py$
