Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

isort:
  name: isort
  description: run isort to sort imports
  entry: poetry run isort
  args:
  - --filter-files
  require_serial: true
  language: system

black:
  name: black
  description: run black to format code
  entry: poetry run black
  args:
  - .
  language: system

Fix typo-ed test_start_time and test_end_time
  csgo/csgo.py
Due: isort, black

Add comments for linux codepaths and adjust signature of get_steam_exe() to return a command list instead
  csgo/csgo.py
  harness_utils/steam.py
Due: isort, black

Update README.md
  README.md
Due: none

Typos fixed
  forza5/README.md
Due: none

fix erroring release of pyyaml as a requirement
  pyproject.toml
Due: poetry-check

Fix incorrect relative paths for linking to other markdown files.
  CONTRIBUTING.md
Due: none

Kombustor score fix (#60)
  CHANGELOG.md
  msikombuster/msikombuster.py
Due: isort, black

Correct typos found by community (#62)
  CHANGELOG.md
  F1_22/README.md
  F1_23/README.md
  README.md
  atomic_heart/README.md
  csgo/README.md
  cyberpunk2077/README.md
  deprecated/farcry6/README.md
  deprecated/hitman3/README.md
  deprecated/overwatch/README.md
  deprecated/shadowofthetombraider/README.md
  deprecated/tinytinaswonderland/README.md
  forza5/README.md
  harness_utils/README.md
  harness_utils/keras_service.py
  reddeadredemption2/README.md
  returnal/README.md
  the_last_of_us_part_i/README.md
  total_war_warhammer_iii/README.md
Due: isort, black

forgot a member (#63)
  CHANGELOG.md
Due: none

test lint and spellcheck actions (#64)
  .github/workflows/linting.yml
  cspell.json
  msikombuster/msikombuster.py
Due: isort, black

Fix readme typo
  README.md
Due: none

update workflow (#67)
  .github/workflows/linting.yml
  csgo/csgo.py
  harness_utils/misc.py
  harness_utils/output.py
  harness_utils/process.py
Due: isort, black

Add some regular words (#68)
  cspell.json
Due: none

Add blender barbershop render (#65)
  .gitignore
  blender_render/blender.py
  blender_render/blender_utils.py
  blender_render/manifest.yaml
  blenderbenchmark/manifest.yaml
  cspell.json
  pylintrc
Due: isort, black

Update blender render harness (#69)
  .gitignore
  blender_render/blender.py
  blender_render/blender_utils.py
  blender_render/manifest.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black

Additional additions to Blender Render (#70)
  CHANGELOG.md
  blender_render/README.md
  blender_render/blender.py
  blender_render/blender_utils.py
  blender_render/manifest.yaml
  cspell.json
Due: isort, black

Forgot to report on device (#71)
  blender_render/blender.py
Due: isort, black

Update total war III test harness (#75)
  cspell.json
  total_war_warhammer_iii/manifest.yaml
  total_war_warhammer_iii/twwh3.py
  total_war_warhammer_iii/twwh3_utils.py
Due: isort, black

Add rocket league test harness (#73)
  CHANGELOG.md
  cspell.json
  pylintrc
  rocket_league/D83190474AB0043E7595FDB3E1EC12E0.replay
  rocket_league/README.md
  rocket_league/manifest.yaml
  rocket_league/rocket_league.py
  rocket_league/utils.py
Due: isort, black

Update superposition harness (#72)
  cspell.json
  superposition/README.md
  superposition/manifest.yaml
  superposition/superposition.py
Due: isort, black

Cinebench 2024 (#76)
  CHANGELOG.md
  cinebench_2024/README.md
  cinebench_2024/cinebench.py
  cinebench_2024/cinebench_utils.py
  cinebench_2024/manifest.yaml
  deprecated/cinebenchr23/README.md
  deprecated/cinebenchr23/cinebench.py
  deprecated/cinebenchr23/manifest.yaml
Due: isort, black

Update README.md
  csgo/README.md
Due: none

Update README.md
  cyberpunk2077/README.md
Due: none

Update README.md
  deprecated/farcry6/README.md
Due: none

Update README.md
  deprecated/hitman3/README.md
Due: none

Update README.md
  deprecated/tinytinaswonderland/README.md
Due: none

Update README.md
  forza5/README.md
Due: none

Update README.md
  returnal/README.md
Due: none

Update README.md
  reddeadredemption2/README.md
Due: none

Update README.md
  total_war_warhammer_iii/README.md
Due: none

GravityMark harness (#77)
  cinebench_2024/cinebench.py
  cspell.json
  gravitymark/README.md
  gravitymark/gravitymark.py
  gravitymark/gravitymark_utils.py
  gravitymark/manifest.yaml
  pylintrc
Due: isort, black

Deprecate CS:GO test harness (#78)
  CHANGELOG.md
  deprecated/csgo/README.md
  deprecated/csgo/csgo.py
  deprecated/csgo/manifest.yaml
  deprecated/csgo/utils.py
  game_settings/procedure-counter-strike-global-offensive-tests.md
Due: isort, black

Cleanup report json in harnesses (#79)
  blender_render/blender.py
  cyberpunk2077/cyberpunk2077.py
  dota2/dota2.py
  dota2/dota2_utils.py
  harness_utils/output.py
  rocket_league/rocket_league.py
Due: isort, black

cleanup kombustor script (#80)
  msikombuster/README.md
  msikombuster/msi_kombustor_utils.py
  msikombuster/msikombuster.py
Due: isort, black

remove sleep from end of test (#81)
  atomic_heart/atomicheart.py
Due: isort, black

Audit - poetry dependencies (#83)
  .gitignore
  CHANGELOG.md
  licenses/licenses.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject.toml$
  isort: any of: \.py$
  black: any of: \.py$
