Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

isort:
  name: isort
  description: run isort to sort imports
  entry: poetry run isort
  args:
  - --filter-files
  require_serial: true
  language: system

black:
  name: black
  description: run black to format code
  entry: poetry run black
  args:
  - .
  language: system

Remove legacy game settings docs
  game_settings/README.md
  game_settings/procedure-atomic-heart-tests.md
  game_settings/procedure-cyberpunk-2077-tests.md
  game_settings/procedure-dota-2-tests.md
  game_settings/procedure-f1-22-tests.md
  game_settings/procedure-f1-23-tests.md
  game_settings/procedure-forza-horizon-5-tests.md
  game_settings/procedure-red-dead-redemption-2-tests.md
  game_settings/procedure-returnal-tests.md
  game_settings/procedure-rocket-league-tests.md
  game_settings/procedure-total-war-warhammer-iii-tests.md
Due: none

dota -> DOTA
  CHANGELOG.md
  dota2/README.md
Due: none

Update spelling fixes and CSpell words
  CHANGELOG.md
  README.md
  black_myth_wukong/README.md
  cspell.json
  pugetbench/README.md
  stellaris/README.md
Due: none

Add remaining CSpell words
  cspell.json
Due: none

Remove obsolete Pylint ignores
  acshadows/acshadows.py
  alanwake2/alanwake2.py
  black_myth_wukong/blackmythwukong.py
  blender_render/blender_render_utils.py
  browserbench/chrome_utils.py
  dawntrail/Dawntrail.py
  farcry6/farcry6.py
  ffmpeg_cpu/ffmpeg_cpu.py
  grid_legends/grid_legends.py
  harness_utils/ocr_service.py
  marvelrivals/marvelrivals.py
  procyon_ai/ulprocai.py
  procyon_ai_img_gen/ulprocai_img_gen.py
  procyon_ai_text_generation/ulprocai_text_gen.py
  pylintrc
  rocket_league/rocket_league.py
  shadowofthetombraider/shadowofthetombraider.py
  total_war_pharaoh/twp.py
Due: isort, black

Create browserbench.toml
  browserbench/browserbench.toml
Due: none

move folders
  non_games/browserbench/README.md
  non_games/browserbench/browserbench.py
  non_games/browserbench/browserbench.toml
  non_games/browserbench/cdp_client.py
  non_games/browserbench/chrome_utils.py
  utility/recording_session/README.md
  utility/recording_session/dummy.py
Due: isort, black

Delete licenses.md
  licenses/licenses.md
Due: none

Create licenses.md
  licenses.md
Due: none

folder moving
  non_games/__init__.py
  non_games/procyon/__init__.py
  non_games/procyon/procyon_ai/README.md
  non_games/procyon/procyon_ai/config/ai_computer_vision_openvino_cpu.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_openvino_gpu.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_openvino_npu.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_snpe.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_tensorrt.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_winml_cpu.def
  non_games/procyon/procyon_ai/config/ai_computer_vision_winml_gpu.def
  non_games/procyon/procyon_ai/procyon_ai.toml
  non_games/procyon/procyon_ai/procyon_ai_utils.py
  non_games/procyon/procyon_ai/ulprocai.py
  non_games/procyon/procyon_ai_img_gen/README.md
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sd15fp16_onnxruntime.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sd15fp16_openvino.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sd15fp16_tensorrt.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sd15int8_openvino.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sd15int8_tensorrt.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sdxlfp16_onnxruntime.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sdxlfp16_openvino.def
  non_games/procyon/procyon_ai_img_gen/config/ai_imagegeneration_sdxlfp16_tensorrt.def
  non_games/procyon/procyon_ai_img_gen/procyon_ai_img_gen.toml
  non_games/procyon/procyon_ai_img_gen/procyon_ai_img_gen_utils.py
  non_games/procyon/procyon_ai_img_gen/ulprocai_img_gen.py
  non_games/procyon/procyon_ai_text_generation/README.md
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_all.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_all_openvino.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_llama2.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_llama2_openvino.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_llama3.1.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_llama3.1_openvino.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_mistral.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_mistral_openvino.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_phi.def
  non_games/procyon/procyon_ai_text_generation/config/ai_textgeneration_phi_openvino.def
  non_games/procyon/procyon_ai_text_generation/procyon_ai_text_generation.toml
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen_utils.py
  non_games/procyon/procyoncmd.py
Due: isort, black

image moving
  README.md
  labs_icon.png
  run_your_first_test_image1.png
Due: none

Deprecate Atomic Heart harness
  deprecated/.gitkeep
  deprecated/atomic_heart/README.md
  deprecated/atomic_heart/atomic_heart.py
  deprecated/atomic_heart/atomic_heart.toml
  deprecated/atomic_heart/atomic_heart_utils.py
  deprecated/atomic_heart/images/Test End.jpg
Due: isort, black

Extract controller and Epic Games helpers
  games/alanwake2/alanwake2.py
  games/black_myth_wukong/blackmythwukong.py
  games/rocket_league/rocket_league.py
  harness_utils/controllers.py
  harness_utils/epic_games.py
  harness_utils/misc.py
Due: isort, black

deprecate handbrake
  deprecated/handbrake/handbrake.py
  deprecated/handbrake/handbrake.toml
  deprecated/handbrake/handbrake_utils.py
  deprecated/handbrake/presets/av1-nvenc_bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/av1-quicksync_bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/av1-svt_bigbuckbunny_1080p_cpu_test.json
  deprecated/handbrake/presets/av1-vce-bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/h264-quicksync_bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/h264-vce-bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/h264_bigbuckbunny_1080p_cpu_test.json
  deprecated/handbrake/presets/h264_nvenc_bigbuckbunny_1080p_gpu_test.json
  deprecated/handbrake/presets/h265_bigbuckbunny_1080p_cpu_test.json
  deprecated/handbrake/presets/h265_nvenc_bigbuckbunny_1080p_gpu_test.json
Due: isort, black

Update paths.py
  harness_utils/paths.py
Due: isort, black

Ignore local Python caches
  .gitignore
Due: none

Simplify Proton user path lookup
  harness_utils/paths.py
  harness_utils/steam.py
Due: isort, black

remove uneeded backup
  harness_utils/steam.py
Due: isort, black

Simplify Steam path handling
  deprecated/atomic_heart/atomic_heart.py
  games/aots-e/aotse_utils.py
  games/cities_skylines_2/citiesskylines2_utils.py
  games/horizonzdr/hzdr.py
  games/returnal/returnal.py
  games/strangebrigade/strangebrigade.py
  harness_utils/paths.py
  harness_utils/steam.py
  stress/f1_stress/f1_stress.py
Due: isort, black

Remove unused root package marker
  __init__.py
Due: isort, black

fixing incorectly labeled artifacts and normalize naming
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/acshadows/acshadows.py
  games/aots-e/aotse.py
  games/counterstrike2/cs2.py
  games/doomdarkages/doomdarkages.py
  games/forzamotorsport/forzams.py
  games/horizonzdr/hzdr.py
  games/marvelrivals/marvelrivals.py
  games/reddeadredemption2/reddeadredemption2.py
  games/returnal/returnal.py
  games/strangebrigade/strangebrigade.py
  games/total_war_warhammer_iii/twwh3.py
  non_games/browserbench/browserbench.py
Due: isort, black

Add artifact file helpers
  deprecated/atomic_heart/atomic_heart.py
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/horizonzdr/hzdr.py
  games/returnal/returnal.py
  games/strangebrigade/strangebrigade.py
  harness_utils/file_cleanup.py
  harness_utils/files.py
  harness_utils/screenshot.py
Due: isort, black

Move early game artifacts
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/acshadows/acshadows.py
  games/alanwake2/alanwake2.py
  games/aots-e/aotse.py
  games/black_myth_wukong/blackmythwukong.py
  games/cities_skylines_2/citiesskylines2.py
  games/counterstrike2/cs2.py
  games/counterstrike2/cs2_utils.py
Due: isort, black

Move more game artifacts
  games/cyberpunk2077/cyberpunk2077.py
  games/doomdarkages/doomdarkages.py
  games/dota2/dota2.py
  games/farcry6/farcry6.py
  games/forza5/forza5.py
  games/forzahorizon6/forzahorizon6.py
  games/forzamotorsport/forzams.py
Due: isort, black

Add stateless artifact helpers
  harness_utils/artifacts.py
  harness_utils/paths.py
Due: isort, black

Use artifact helpers in games
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/acshadows/acshadows.py
  games/alanwake2/alanwake2.py
  games/aots-e/aotse.py
  games/black_myth_wukong/blackmythwukong.py
  games/cities_skylines_2/citiesskylines2.py
  games/counterstrike2/cs2.py
  games/cyberpunk2077/cyberpunk2077.py
  games/doomdarkages/doomdarkages.py
  games/dota2/dota2.py
  games/farcry6/farcry6.py
  games/forza5/forza5.py
  games/forzahorizon6/forzahorizon6.py
  games/forzamotorsport/forzams.py
Due: isort, black

Migrate remaining game artifacts
  games/grid_legends/grid_legends.py
  games/hitman3/hitman3.py
  games/horizonzdr/hzdr.py
  games/marvelrivals/marvelrivals.py
  games/reddeadredemption2/reddeadredemption2.py
  games/returnal/returnal.py
  games/rocket_league/rocket_league.py
  games/shadowofthetombraider/shadowofthetombraider.py
  games/stellaris/stellaris.py
  games/strangebrigade/strangebrigade.py
  games/the_last_of_us_part_i/the_last_of_us_part_i.py
  games/the_last_of_us_part_ii/tlou2.py
  games/tinytinaswonderland/tinytinaswonderland.py
  games/total_war_pharaoh/twp.py
  games/total_war_warhammer_iii/twwh3.py
Due: isort, black

Clarify screenshot helper name
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/acshadows/acshadows.py
  games/alanwake2/alanwake2.py
  games/black_myth_wukong/blackmythwukong.py
  games/cities_skylines_2/citiesskylines2.py
  games/counterstrike2/cs2.py
  games/cyberpunk2077/cyberpunk2077.py
  games/doomdarkages/doomdarkages.py
  games/dota2/dota2.py
  games/farcry6/farcry6.py
  games/forza5/forza5.py
  games/forzahorizon6/forzahorizon6.py
  games/forzamotorsport/forzams.py
  games/grid_legends/grid_legends.py
  games/hitman3/hitman3.py
  games/horizonzdr/hzdr.py
  games/marvelrivals/marvelrivals.py
  games/reddeadredemption2/reddeadredemption2.py
  games/returnal/returnal.py
  games/rocket_league/rocket_league.py
  games/shadowofthetombraider/shadowofthetombraider.py
  games/stellaris/stellaris.py
  games/strangebrigade/strangebrigade.py
  games/the_last_of_us_part_i/the_last_of_us_part_i.py
  games/the_last_of_us_part_ii/tlou2.py
  games/tinytinaswonderland/tinytinaswonderland.py
  games/total_war_pharaoh/twp.py
  games/total_war_warhammer_iii/twwh3.py
  harness_utils/artifacts.py
Due: isort, black

Remove unrelated game migration changes
  deprecated/atomic_heart/atomic_heart.py
  games/F1_24/f1_24.py
  games/F1_25/f1_25.py
  games/acshadows/acshadows.py
  games/counterstrike2/cs2.py
  games/counterstrike2/cs2_utils.py
  games/horizonzdr/hzdr.py
  games/returnal/returnal.py
  games/shadowofthetombraider/shadowofthetombraider.py
  games/strangebrigade/strangebrigade.py
  games/the_last_of_us_part_i/the_last_of_us_part_i.py
  games/the_last_of_us_part_ii/tlou2.py
  harness_utils/artifacts.py
  harness_utils/file_cleanup.py
  harness_utils/files.py
  harness_utils/screenshot.py
Due: isort, black

Keep native migrations artifact-only
  non_games/3dmark/ul3dmark.py
  non_games/blender_render/blender_render.py
  non_games/browserbench/browserbench.py
  non_games/dawntrail/Dawntrail.py
  non_games/evolve/evolve.py
  non_games/ffmpeg_cpu/ffmpeg_cpu.py
  non_games/gravitymark/gravitymark.py
  non_games/procyon/procyon_ai/procyon_ai_utils.py
  non_games/procyon/procyon_ai/ulprocai.py
  non_games/procyon/procyon_ai_img_gen/procyon_ai_img_gen_utils.py
  non_games/procyon/procyon_ai_img_gen/ulprocai_img_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen.py
  non_games/procyon/procyon_ai_text_generation/ulprocai_text_gen_utils.py
  non_games/pugetbench/pugetbench.py
  non_games/superposition/superposition.py
  non_games/ycruncher/ycruncher.py
Due: isort, black

Remove artifact manifest manager
  harness_utils/artifacts.py
Due: isort, black

Document artifact folders
  harness_utils/README.md
  pyproject.toml
Due: poetry-check

formatting
  deprecated/atomic_heart/atomic_heart.py
  games/counterstrike2/cs2.py
  games/shadowofthetombraider/shadowofthetombraider.py
  games/the_last_of_us_part_ii/tlou2.py
  non_games/dawntrail/Dawntrail.py
  non_games/evolve/evolve.py
  non_games/ffmpeg_cpu/ffmpeg_cpu.py
Due: isort, black

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject.toml$
  isort: any of: \.py$
  black: any of: \.py$
