Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: run isort to sort imports
        entry: poetry run isort
        args:
            - --profile=black
            - --line-length=88
        require_serial: true
        language: python
        types: [python]
        args: ["--filter-files"]
        language: system
-   repo: local
    hooks:
    -   id: black
        name: black
        description: run black to format code
        entry: poetry run black
        args: ["."]
        language: system
        types: [python]

Update shadowofthetombraider.py
  shadowofthetombraider/shadowofthetombraider.py
Due: isort, black

Update aotse.py
  aots-e/aotse.py
Due: isort, black

Artifacts sc fix (#228)
  aots-e/aotse.py
  harness_utils/artifacts.py
  harness_utils/screenshot.py
  shadowofthetombraider/shadowofthetombraider.py
Due: isort, black

Add new harness for file transfer
  filetransfer/README.md
  filetransfer/filetransfer.py
  filetransfer/filetransfer.toml
  filetransfer/manifest.yaml
Due: isort, black

Update cspell.json
  cspell.json
Due: none

Update filetransfer.py
  filetransfer/filetransfer.py
Due: isort, black

Update Dawntrail.py
  dawntrail/Dawntrail.py
Due: isort, black

Update README.md
  filetransfer/README.md
Due: none

faster timings for ocr
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

Update the_last_of_us_part_i.py
  the_last_of_us_part_i/the_last_of_us_part_i.py
Due: isort, black

Update tlou2.py
  the_last_of_us_part_ii/tlou2.py
Due: isort, black

change f1 timings
  F1_24/f1_24.py
Due: isort, black

Update hitman3.py
  hitman3/hitman3.py
Due: isort, black

The last of us and F1 fix (#230)
  F1_24/f1_24.py
  the_last_of_us_part_i/the_last_of_us_part_i.py
  the_last_of_us_part_ii/tlou2.py
Due: isort, black

Add Steam VDF parser dependency
  pyproject.toml
Due: poetry-check

Replace Steam registry lookups with VDF files
  harness_utils/steam.py
Due: isort, black

lint
  harness_utils/steam.py
  pyproject.toml
Due: poetry-check, isort, black

manyal
  harness_utils/platform.py
  harness_utils/steam.py
Due: isort, black

Decouple OCR service from input helpers
  harness_utils/input.py
  harness_utils/ocr_service.py
Due: isort, black

Migrate simple OCR harnesses off KerasService
  alanwake2/alanwake2.py
  aots-e/aotse.py
  aots-e/aotse_utils.py
  atomic_heart/atomic_heart.py
  dota2/dota2.py
  dota2/dota2_utils.py
  farcry6/farcry6.py
  forza5/forza5.py
  forzamotorsport/forzams.py
  forzamotorsport/forzams_utils.py
  hitman3/hitman3.py
  hitman3/hitman3_utils.py
  horizonzdr/hzdr.py
  horizonzdr/hzdr_utils.py
  reddeadredemption2/reddeadredemption2.py
  returnal/returnal.py
  returnal/returnal_utils.py
  rocket_league/rocket_league.py
  rocket_league/rocket_league_utils.py
  the_last_of_us_part_i/the_last_of_us_part_i.py
  the_last_of_us_part_i/the_last_of_us_part_i_utils.py
  tinytinaswonderland/tinytinaswonderland.py
  total_war_warhammer_iii/twwh3.py
Due: isort, black

Migrate parameterized OCR harnesses off KerasService
  acshadows/acshadows.py
  counterstrike2/cs2.py
  f1_stress/f1_stress.py
  grid_legends/grid_legends.py
  harness_utils/misc.py
  marvelrivals/marvelrivals.py
  stellaris/stellaris.py
  total_war_pharaoh/twp.py
Due: isort, black

Document generic OCR service path
  README.md
  harness_utils/README.md
Due: none

lint
  counterstrike2/cs2.py
  horizonzdr/hzdr.py
  reddeadredemption2/reddeadredemption2.py
Due: isort, black

Update steam.py
  harness_utils/steam.py
Due: isort, black

simplify root path
  harness_utils/steam.py
Due: isort, black
