Repository LTTLabsOSS/markbench-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$
-   repo: local
    hooks:
    -   id: isort
        name: isort
        description: run isort to sort imports
        entry: poetry run isort
        args:
            - --profile=black
            - --line-length=88
        require_serial: true
        language: python
        types: [python]
        args: ["--filter-files"]
        language: system
-   repo: local
    hooks:
    -   id: black
        name: black
        description: run black to format code
        entry: poetry run black
        args: ["."]
        language: system
        types: [python]

Adding webxprt5 as an option
  browserbench/browserbench.py
  browserbench/manifest.yaml
Due: isort, black

Having to change how the webxprt5 labeled the classes
  browserbench/browserbench.py
Due: isort, black

Adding in artifact manager to take a screenshot of the result (hopefully)
  browserbench/browserbench.py
Due: isort, black

Doing a bunch of linter changes
  browserbench/browserbench.py
  browserbench/cdp_client.py
  browserbench/chrome_utils.py
Due: isort, black

Trying to satisfy linter still
  browserbench/chrome_utils.py
Due: isort, black

Update README.md
  browserbench/README.md
Due: none

webxprt is real in my heart.
  browserbench/README.md
Due: none

Adding webxprt to the cspell.json
  browserbench/README.md
  cspell.json
Due: none

fix regex for encoding fps
  ffmpeg_cpu/ffmpeg_cpu.py
Due: isort, black

Adding some comments in
  pcmark10_storage/pcmark10_storage.py
Due: isort, black

Update README.md
  pugetbench/README.md
Due: none

Cleaning up the manifest and readme
  pcmark10_storage/README.md
  pcmark10_storage/manifest.yaml
Due: none

Trying to simplify the code and hope linter is happy
  counterstrike2/cs2.py
  counterstrike2/cs2_utils.py
Due: isort, black

Damn you whitespace
  counterstrike2/cs2.py
Due: isort, black

Updating the readme to align with the newer harness structure
  counterstrike2/README.md
Due: none

Update README.md
  counterstrike2/README.md
Due: none

Trying retooling 7zip to x64 using 7za and capturing also the architecture
  7z/sevenzip.py
Due: isort, black

Forgot to update the copy network function
  7z/sevenzip_utils.py
Due: isort, black

forgot to update the destination exe
  7z/sevenzip_utils.py
Due: isort, black

trying to make the linter happy
  7z/sevenzip.py
Due: isort, black

Linter be workin overtime
  7z/sevenzip.py
Due: isort, black

python version
  pyproject.toml
Due: poetry-check

python version (#197)
  pyproject.toml
Due: poetry-check

Update msikombustor.toml
  msikombustor/msikombustor.toml
Due: none

Updating the navigate_settings so only one instance of artifact manager
  counterstrike2/cs2.py
Due: isort, black

lint
  alanwake2/alanwake2.py
  alanwake2/alanwake2_utils.py
  aots-e/aotse.py
  black_myth_wukong/blackmythwukong.py
  counterstrike2/cs2.py
  cyberpunk2077/cyberpunk2077.py
  ffmpeg_cpu/ffmpeg_cpu.py
  ffmpeg_cpu/ffmpeg_cpu_utils.py
  godot_compile/godot_compile.py
  handbrake/handbrake.py
  handbrake/handbrake_utils.py
  horizonzdr/hzdr.py
  msikombustor/msikombustor.py
  primesieve/primesieve.py
  primesieve/primesieve_utils.py
  recording_session/dummy.py
  reddeadredemption2/reddeadredemption2.py
  rocket_league/rocket_league.py
  rocket_league/rocket_league_utils.py
  strangebrigade/strangebrigade_utils.py
  superposition/superposition.py
  tinytinaswonderland/tinytinaswonderland.py
  xz/xz.py
  xz/xz_utils.py
  ycruncher/ycruncher.py
  zdeprecated/F1_22/f1.py
Due: isort, black

atomic heart rename
  atomic_heart/atomic_heart.py
  atomic_heart/atomic_heart.toml
  atomic_heart/atomic_heart_utils.py
  atomic_heart/manifest.yaml
Due: isort, black

blender lint
  blenderbenchmark/blender.py
Due: isort, black

lint
  browserbench/chrome_utils.py
  farcry6/farcry6_utils.py
  godot_compile/godot_compile.py
  godot_compile/godot_compile_utils.py
  primesieve/primesieve.py
  strangebrigade/strangebrigade_utils.py
  superposition/superposition.py
  xz/xz.py
Due: isort, black

move global variables
  msikombustor/msikombustor.py
Due: isort, black

utils conflict fix
  procyon_ai/procyon_ai_utils.py
  procyon_ai/ulprocai.py
  procyon_ai_img_gen/procyon_ai_img_gen_utils.py
  procyon_ai_img_gen/ulprocai_img_gen.py
  tinytinaswonderland/tinytinaswonderland.py
  tinytinaswonderland/tinytinaswonderland_utils.py
Due: isort, black

lint
  procyon_ai_img_gen/procyon_ai_img_gen_utils.py
Due: isort, black

linting1
  hitman3/hitman3.py
  procyon_ai/procyon_ai_utils.py
Due: isort, black

lint
  handbrake/handbrake.py
  hitman3/hitman3.py
  procyon_ai/procyon_ai_utils.py
Due: isort, black

3d mark
  3dmark/ul3dmark.py
  3dmark/ul3dmark_utils.py
Due: isort, black

import order blender render
  blender_render/blender.py
Due: isort, black

rename file blender to blender render
  blender_render/blender_render.py
  blender_render/blender_render.toml
  blender_render/manifest.yaml
Due: isort, black
